In [ ]:
database = [
    {
        "id": "1",
        "name": "Rizky",
        "ulangan": [90, 70, 50],
        "uas": 90
    },
    {
        "id": "2",
        "name": "Ricky",
        "ulangan": [],
        "uas": 80
    },
    {
        "id": "3",
        "name": "Niswa",
        "ulangan": [],
        "uas": 90
    }
]

MENU GURU

In [ ]:
def inputData():
  print("\nInput Data Siswa")
  jumlahData = int(input("Jumlah data siswa yang ingin diinput: "))
  for i in range(jumlahData):
    print("\nData Ke -", str(i + 1))
    inputName = input("Nama           : ")
    inputUlangan = int(input("Nilai Ulangan      : "))
    inputUas = int(input("Nilai UAS      : "))
    database.append({"id": len(database) + 1, "name": inputName, "ulangan": inputUlangan, "uas": inputUas})
  teacherMenu()

In [ ]:
def editData():
  print("\nEdit Data Siswa")
  i = int(input("Masukkan ID Siswa yang ingin diganti datanya: "))
  if i > len(database):
    print("Data Not Found")
  else:
    print("Nama           : ", database[i]["name"])
    tempUlangan = int(input("Nilai Ulangan      :  "))
    tempUas = int(input("Nilai UAS      :  "))
    database[i]["ulangan"] = tempUlangan
    database[i]["uas"] = tempUas
    print("Berhasil Edit Data Siswa")
  teacherMenu()

In [ ]:
def showData():
  print()
  line = lambda param: param * 76
  print(line("="))
  print("ID \t Nama \t\t Nilai Ulangan \t\t Nilai UAS \t Nilai Akhir")
  print(line("="))


  for i in range(len(database)):
    print(i, "\t", database[i]["name"], "\t\t", database[i]["ulangan"] if len(database[i]["ulangan"]) else "Kosong", "\t\t", database[i]["uas"], "\t\t", (database[i]["uas"] + sum(database[i]["ulangan"])) / 2)
  teacherMenu()

In [ ]:
def ulanganHarian():
  error = False
  line = lambda param: param * 76

  jumlahUlangan = int(input("Masukkan jumlah ulangan: "))
  username = input("Masukkan nama siswa: ")
  for i in range(len(database)):
    if jumlahUlangan > 3:
      error = True
      break
    else:
      if database[i]["name"] == username:
        if len(database[i]["ulangan"]) >= 3:
          error = True
          break
        else:
          for n in range(jumlahUlangan):
            nilaiUlangan = int(input("Masukkan nilai ulangan: "))
            database[i]["ulangan"].append(nilaiUlangan)
        print("Berhasil melakukan ulangan harian")
        teacherMenu()

  if error == True:
    print("Tidak boleh melakukan ulangan lebih dari 3x sehari")
    teacherMenu()

In [ ]:
def teacherMenu():
  print("\n=== Teacher Account ===")
  print("1. Input Data Siswa")
  print("2. Edit Nilai Siswa")
  print("3. Lihat Data Siswa")
  print("4. Ulangan Harian")
  print("0. Ganti Akun")
  print("99. Exit")

  teacherOption = int(input("Pilih Menu: "))
  if teacherOption == 1:
    inputData()
  elif teacherOption == 2:
    editData()
  elif teacherOption == 3:
    showData()
  elif teacherOption == 4:
    ulanganHarian()
  elif teacherOption == 0:
    menu()
  else:
    print("Berhasil Keluar")
    exit()

MENU STUDENT

In [ ]:
def studentMenu():
  print("\n=== Student Account ===")
  print("1. Lihat Nilai")
  print("0. Ganti Akun")
  print("99. Exit")

  studentOption = int(input("Pilih Menu: "))
  if studentOption == 1:
    showValue()
  elif studentOption == 0:
    menu()
  elif studentOption == 99:
    print("Berhasil keluar program, Terima kasih!")
    exit()
  else:
    print("Error, Invalid Option!")
    exit()

In [ ]:
def showValue():
  studentName = input("Masukkan Nama Murid: ")
  print()
  for i in range(len(database)):
    if studentName == database[i]["name"]:
      print("ID              : ", i)
      print("Nama            : ", database[i]["name"])
      print("Nilai Ulangan   : ", database[i]["ulangan"] if len(database[i]["ulangan"]) > 0 else "Kosong")
      print("Nilai UAS       : ", database[i]["uas"])
      print("Nilai Akhir     : ", (database[i]["uas"] + sum(database[i]["ulangan"])) / 2)
      break
  studentMenu()

MAIN PROGRAM

In [ ]:
def menu():
  print("==="*5, "NIM Genap", "==="*5)
  print("\nSilahkan pilih roles: ")
  print("1. Teacher")
  print("2. Student")
  print("99. Exit")
  
  menu = int(input("Pilih: "))
  if menu == 1:
    teacherMenu()
  elif menu == 2:
    studentMenu()
  elif menu == 99:
    exit()
  else:
    print("Error, Invalid Option!")
    menu()

In [ ]:
menu()

=============== NIM Genap ===============

Silahkan pilih roles:
1. Teacher
2. Student
99. Exit
Pilih: 1

=== Teacher Account ===
1. Input Data Siswa
2. Edit Nilai Siswa
3. Lihat Data Siswa
4. Ulangan Harian
0. Ganti Akun
99. Exit
Pilih Menu: 3

============================================================================
ID 	 Nama 		 Nilai Ulangan 		 Nilai UAS 	 Nilai Akhir
============================================================================
0 	 Wahyu 		 [90, 70, 50] 		 90 		 150.0
1 	 Ricky 		 Kosong 		 80 		 40.0
2 	 Niswa 		 Kosong 		 90 		 45.0

=== Teacher Account ===
1. Input Data Siswa
2. Edit Nilai Siswa
3. Lihat Data Siswa
4. Ulangan Harian
0. Ganti Akun
99. Exit
Pilih Menu: 99
Berhasil Keluar

KEGIATAN 2

In [ ]:
primeNumbers = (x for x in range(2,100) if not [t for t in range(2,x) if not x%t])
print(type(primeNumbers))
print(list(primeNumbers))

<class 'generator'>
[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53, 59, 61, 67, 71, 73, 79, 83, 89, 97]

LATIHAN